/* Wireframe */
/* master-container must be RELATIVE, while the footer is ABSOLUTE */

.master-contain {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin: 0;
}

#controls-wrap {
  background-color: blue;
  min-height: 100vh;
  background-image: url(../images/background-controls.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

#game-wrap {
  background-image: linear-gradient(to bottom right,rgb(169, 202, 214), rgb(235, 235, 235));
  min-height: 100vh;
  box-shadow: 2px 0px 15px rgb(65, 65, 65) inset;
}

.the-title {
  width: 100%;
  
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.31);
  border-radius: 5px;
}

.trophyIcon {
  font-size: 50px;
}


/* Game board, card section */

.card-box {
background-color: transparent;
width: 100px;
height: 160px;
border: none;
border-radius: 4px;
perspective: 1000px;
}

.card-box-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transform: scale(1);
transform-style: preserve-3d;
transition: transform .9s;
box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

/* animation, click interaction visible */
.card-box-inner:active {
  transform: scale(.96);
  transition: transform .2s;
}

/* animation of rotation */
.card-box, .flip {
transform: rotateY(180deg);
}


.card-box-front, .card-box-back {
position: absolute;
width: 100%;
height: 100%;
border-radius: 4px;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.card-box-front {
  background-image: url(../images/cardFrontDeck.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.card-box-back {
background-color: #2980b9;
color: white;
transform: rotateY(180deg);
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}

/* footer */
.footer-logo {
  text-decoration: none;
  color: #000000;
}

.footer-logo:hover {
  color: #005e61;
}

#my-footer {
  background-color: rgb(173, 228, 228);
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0px;
  left: 0;
}

/*  images target data attributes  */
[data-card="apple"] > .card-box-back {
  background-image: url(../images/apple.jpg);
}
[data-card="banana"] > .card-box-back {
  background-image: url(../images/banana.jpg);
}
[data-card="orange"] > .card-box-back {
  background-image: url(../images/orange.jpg);
}
[data-card="ananas"] > .card-box-back {
  background-image: url(../images/ananas.jpg);
}
[data-card="strawberry"] > .card-box-back {
  background-image: url(../images/strawberry.jpg);
}
[data-card="cherry"] > .card-box-back {
  background-image: url(../images/cherry.jpg);
}


/* Media queries */
@media screen and (max-width: 767px) {
  #controls-wrap {
      min-height: 100%;
  }
  #game-wrap {
      min-height: 100%;
  }
  .card-box {
  width: 90px;
  height: 144px;
  }
}    
